<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="row">
  <h1 class="col-12 title"> My TODO List </h1>
</div>

<div class="offset-3 col-6">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="TODO..." [(ngModel)]="addTODOTitle">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click)="addTODO()">Add</button>
    </div>
  </div>
</div>

<!--分隔線-->
<div class="offset-2 col-8">
  <hr>
</div>

<div class="offset-3 col-6">
  <div class="todo-item" *ngFor="let item of todoList; let i = index;">
    <span>{{ item.todo }}</span>
    <button type="button" class="btn btn-outline-danger" (click)="deleteTODO(i)">Delete</button>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
